<template>
    <layout>
        <div class="dashboard">
            <h1 class="title">Dashboard!</h1>

            <div class="columns">
                <div class="column">
                    <h2 class="subtitle is-5">Some stuff</h2>
                </div>
            </div>
        </div>
    </layout>  
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import layout from '@/layouts/app.vue';

@Component({
  components: {
    layout
  }, 
})
export default class Dashboard extends Vue {
    public constructor() {
        super();
    }    
}
</script>