<template>
    <div class="notification-drawer" v-if="show">
        <div class="block">
            <div class="level">
                <div class="level-left notification-drawer-title">
                    <span>Notifications</span>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a class="delete" @click="Close"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="block notification-drawer-content">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4"><strong>Notification title to go here</strong></p>
                            <p><small>Notification message to go here...</small></p>
                            <p><small><a class="btn btn-link" href="#">View</a> | <a class="btn btn-link" href="#">Dismiss</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block has-text-centered">
            <small><a href="#">View all</a></small>
        </div>

    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Route } from 'vue-router';
// import { StoreGetters } from '@/stores/store-getter-constants';
// import { StoreActions } from '@/stores/store-action-constants';

@Component
export default class NotificationDrawer extends Vue {
    @Prop({ default: false }) public show: boolean;

    public Close(): void {
        this.$emit('close');
    }
 }
</script>

<style lang="scss">
    .notification-drawer {
        position: absolute;
        top: calc(52px + 0.5rem);
        right: 0.5rem;
        padding: 1rem;
        background: #fafafa;
        -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        min-width: 450px;
        

        .notification-drawer-title {
            color: #363636;
        }

        .notification-drawer-content {
            max-height: 50vh;
            overflow: hidden;
            overflow-y: auto;
        }
    }
</style>