<template>
    <div>
        <top-bar />
        <div class="columns is-fullheight is-gapless">
            <div class="column is-narrow">
                <navigation />
            </div>
            <div class="column">
                <div class="section">
                    <slot />                    
                </div>
            </div>
        </div>
        
        <!-- <div class="section">
            
            <div class="container is-fluid">
                
            </div> -->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Atlas Barcode Prototype</strong> by <a href="https://blog.danielcirket.co.uk">Seb / Dan</a>.
                </p>
            </div>
        </footer>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import topbar from '@/components/top-bar.vue';
import navigation from '@/components/navigation.vue';

@Component({
    components: {
        'top-bar': topbar,
        navigation,
    },
})
export default class AppLayout extends Vue {}
</script>

<style lang="scss">

@import "~bulma/sass/utilities/_all";

$navbar-height: 3.25rem;

.columns {
  &.is-fullheight {
    min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
    // max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
    // height: calc(100vh - ( #{$navbar-height} - .75rem ) );
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  &.is-gapless {
      &:not(:last-child) {
          margin-bottom: 0;
      }
  }
}
</style>