<template>
    <div>
        <div class="section">
            <div class="columns">
                <div class="column">
                    <slot />                    
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import navigation from '@/components/navigation.vue';

@Component({
    components: {
        navigation,
    },
})
export default class BasicLayout extends Vue {}
</script>