<template>
    <transition :name="animation">
        <div
            class="staffsquared-loading-overlay loading-overlay is-active"
            :class="{ 'is-full-page': isFullPage }"
            v-if="isActive">
            <div class="loading-background" @click="cancel" />
            <div class="loading-icon">
                <!-- <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div> -->
            </div>
            <div class="loading-content">
                <slot />
            </div>
        </div>
    </transition>
</template>

<script>
    import { removeElement } from 'buefy'
    import { HTMLElement } from 'buefy'
    export default {
        name: 'Loading',
        props: {
            active: Boolean,
            programmatic: Boolean,
            container: [Object, Function, HTMLElement],
            isFullPage: {
                type: Boolean,
                default: true
            },
            animation: {
                type: String,
                default: 'fade'
            },
            canCancel: {
                type: Boolean,
                default: false
            },
            onCancel: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            return {
                isActive: this.active || false
            }
        },
        watch: {
            active(value) {
                this.isActive = value
            }
        },
        methods: {
            /**
             * Close the Modal if canCancel.
             */
            cancel() {
                if (!this.canCancel) return
                this.close()
            },
            /**
             * Emit events, and destroy modal if it's programmatic.
             */
            close() {
                this.onCancel.apply(null, arguments)
                this.$emit('close')
                this.$emit('update:active', false)
                // Timeout for the animation complete before destroying
                if (this.programmatic) {
                    this.isActive = false
                    setTimeout(() => {
                        this.$destroy()
                        removeElement(this.$el)
                    }, 150)
                }
            },
            /**
             * Keypress event that is bound to the document.
             */
            keyPress(event) {
                // Esc key
                if (event.keyCode === 27) this.cancel()
            }
        },
        created() {
            if (typeof window !== 'undefined') {
                document.addEventListener('keyup', this.keyPress)
            }
        },
        beforeMount() {
            // Insert the Loading component in body tag
            // only if it's programmatic
            if (this.programmatic) {
                if (!this.container) {
                    document.body.appendChild(this.$el)
                } else {
                    this.isFullPage = false
                    this.container.appendChild(this.$el)
                }
            }
        },
        mounted() {
            if (this.programmatic) {
                this.isActive = true;
            }
        },
        beforeDestroy() {
            if (typeof window !== 'undefined') {
                document.removeEventListener('keyup', this.keyPress);
            }
        },
    }
</script>

<style lang="scss">

    // @-webkit-keyframes sk-bouncedelay {
    //     0%, 80%, 100% { -webkit-transform: scale(0) }
    //     40% { -webkit-transform: scale(1.0) }
    // }

    // @keyframes sk-bouncedelay {
    //     0%, 80%, 100% { 
    //         -webkit-transform: scale(0);
    //         transform: scale(0);
    //     } 
    //     40% { 
    //         -webkit-transform: scale(1.0);
    //         transform: scale(1.0);
    //     }
    // }

    .staffsquared-loading-overlay {
        &.loading-overlay {
            /* color: white; */
            flex-direction: column;

            &.is-full-page {
                .loading-icon {
                    &:after {
                        //content: none;
                        top: calc(50% - 3.5em);
                        left: calc(50% - 1.5em);
                        width: 3em;
                        height: 3em;
                        border-bottom-color: #251863;
                        border-left-color: #251863;
                        border-bottom-color: #61bd4f;
                        border-left-color: #61bd4f;
                        
                        border-width: 0.375em;
                    }

                    // > div {
                    //     width: 1rem;
                    //     height: 1rem;
                    //     background-color: #61bd4f;
                    //     margin: 0 0.15rem;
                    //     border-radius: 100%;
                    //     display: inline-block;
                    //     -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                    //     animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                    // }

                    // .bounce1 {
                    //     -webkit-animation-delay: -0.32s;
                    //     animation-delay: -0.32s;
                    // }

                    // .bounce2 {
                    //     -webkit-animation-delay: -0.16s;
                    //     animation-delay: -0.16s;
                    // }
                }
                .loading-content {
                    color: white;
                    position: relative;
                }
            }

            .loading-background {
                background: rgba(37, 24, 99, 1);
            }
        }
    }
</style>