<template>
    <aside class="menu is-sidebar-menu is-hidden-touch">
        <span class="header-icon user-profile-image">
            <img alt="" src="https://placehold.it/200x150">
        </span>
        <p class="menu-label">
            Navigation
        </p>
        <ul class="menu-list">
            <li><router-link :to="{ name: 'dashboard' }" active-class="is-active" exact>Dashboard</router-link></li>
        </ul>
        <p class="menu-label">
            Admin
        </p>
        <ul class="menu-list">
            <li><a>Settings</a></li>
        </ul>
    </aside>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Route } from 'vue-router';
// import { StoreGetters } from '@/stores/store-getter-constants';
// import { StoreActions } from '@/stores/store-action-constants';

@Component
export default class Navigation extends Vue { }
</script>

<style lang="scss">

    @import "~bulma/sass/utilities/_all";

    .is-sidebar-menu {
        background: $white-bis;
        padding: 1rem 2rem;
        height: 100%;
    }
</style>
