<template>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link class="navbar-item" to="/">
                Atlas Barcode
            </router-link>

            <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">{{ Email }}</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">My profile</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Change password</a>
                        <a class="navbar-item">Logout</a>
                    </div>
                </div>
                
                <a class="navbar-item" style="background-color: hsl(348, 100%, 61%);" @click="ToggleNotificationDrawer(!ShowingNotificationDrawer)"><i class="far fa-bell is-size-4"></i>&nbsp;5</a>
                <a class="navbar-item is-size-4" href="//www.google.co.uk" target="_blank" rel="none"><i class="far fa-question-circle"></i></a>
            </div>
        </div>

        <notification-drawer :show="ShowingNotificationDrawer" @close="ToggleNotificationDrawer(!ShowingNotificationDrawer)"></notification-drawer>
    </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Route } from 'vue-router';
import { Getter, namespace } from 'vuex-class';
import NotificationDrawer from '@/components/notification-drawer/notification-drawer.vue';

const ModuleGetter = namespace('user', Getter);

@Component({
    components: {
        'notification-drawer': NotificationDrawer
    }
})
export default class TopBar extends Vue {
    @ModuleGetter public Email: string | null;

    public ShowingNotificationDrawer: boolean = false;

    public Logout(): void {
        //this.$store.dispatch(StoreActions.LOGOUT);
        //this.$router.push('login');
    }

    public ToggleNotificationDrawer(show: boolean): void {
        this.ShowingNotificationDrawer = show;
    }
}

</script>

<style lang="scss">
    .navbar {
        .navbar-brand {
            img {
                height: 40px;
                width: auto;
                transform: translateY(3px);
            }

            .logo-name {
                height: 30px;
                padding-bottom: 1px;
                padding-left: 9px;
            }
        }
    }
</style>