<template>
  <div>
    <router-view></router-view>
    <loading :active.sync="IsLoading">
      <p>Loading, please wait...</p>
    </loading>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Getter, namespace } from 'vuex-class';
import loading from '@/components/loading.vue';

@Component({
  components: {
    loading,
  },
})
export default class App extends Vue {
  @Getter public IsLoading: boolean;
}
</script>

<style lang="scss">

  @import "~bulma/sass/utilities/_all";

  // $primary: #251863;
  // $secondary: #61BD4F;
  // // $primary: #61BD4F;
  // $primary-invert: findColorInvert($primary);
  // $secondary-invert: findColorInvert($secondary);
  // $twitter: #4099FF;
  // $twitter-invert: findColorInvert($twitter);

  $colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
  );

  // $link: $primary;
  // $link-invert: $primary-invert;
  // $link-focus-border: $primary;

  @import "~bulma";
  @import "~buefy/src/scss/buefy";
</style>